---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.0">
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=500&t=tt&d=g72KaHLueV1URLz0f0rc225rzfP-DzlHP2ZGgvxkJbQ&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
    </body>
</html>
